.error404{
    .site{
        display: grid;
        height: 100vh;
    }
    .site-footer{
        align-self: end;
    }
.page-title{
    text-align: center;
}

fieldset{
    border:0;
    text-align: center;
    margin-bottom: 50px;
}
.page-content{
    margin: 0 auto;
    p{
        margin: 0 auto;
        text-align: center;
        margin-bottom:20px;
    }
}
input{
    background-color: #eeeeee;
    @include desktop{
        width:300px;
        outline: 0;
    }
}
}