// Abortion Methods
.abortion-methods-page {
    font-size: 14px;
    line-height: 20pt;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    h1 {
        display: none;
    }
}

.abortion-options-title {
    color: $color__background-blue;
    font-family: $font__header;
    font-weight: bold;
    font-size: 16px;
    line-height: 55pt;
    text-align: center;
}

.medical-method,
.surgical-method {
    margin-left: 15px;
    margin-right: 15px;
    background-color: $color__background-blue;
    color: $color__text-white;
    padding: 20px;
    text-align: center;

    a {
        color: $color__text-white;
    }

    h3,
    h4 {
        font-size: 16px;
        font-weight: bold;
    }
}

.surgical-method {
    margin-top: 30px;
}

.abortion-contact-form,
.abortion-before-during-after {
    color: $color__background-teal;
    font-weight: bold;
}

.compare-methods-button {
    background-color: $color__background-teal;
    box-shadow: none;
    text-shadow: none;
    border-radius: 8px;
    border-color: $color__background-teal;
    line-height: 12pt;
    margin-top: 15px;
    font-size: 14px;

    a {
        color: $color__background-white;
        font-weight: bold;
        text-decoration: none;
    }
}

.your-decision-button,
.read-more-button,
.desktop-text {
    display: none;
}

.learn-more-medical,
.learn-more-surgical {
    text-decoration: underline;
}

.abortion-methods-page {
    @include tablet {
        h2 {
            font-size: 30px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            margin-top: 50px;
        }
    }
}

.abortion-methods-page {
    @include desktop {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;

        h2 {
            font-size: 36px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            text-align: left;
            margin-top: 50px;
        }

        .your-decision-button,
        .compare-methods-button,
        .read-more-button {
            display: inline-block;
            background-color: $color__background-teal;
            box-shadow: none;
            text-shadow: none;
            border-color: $color__background-teal;
            line-height: 12pt;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-top: 22px;
            padding-bottom: 22px;
            padding-right: 80px;
            padding-left: 80px;
            border-radius: 12px;
            font-family: $font__secondary;
            font-size: 18px;
        }

        h3,
        h4 {
            font-size: 24px;
        }

        .desktop-text {
            display: block;
        }

        .compare-methods-button {
            margin-top: 35px;
            margin-bottom: 30px;
        }

        .read-more-button {
            margin-bottom: -10px;
        }

        .abortion-methods-info {
            background-color: $color__background-blue;
            padding: 30px;
            color: $color__background-white;
            margin-bottom: 50px;
        }

        .abortion-methods-container {
            display: flex;
            flex-direction: row;

            .medical-method {
                width: 50%;
            }

            .surgical-method {
                width: 50%;
                margin-top: 0;
            }
        }
    }
}

// Abortion Procedure
// Medical Abortion & Surgical Abortion
.medical-abortion-page,
.surgical-abortion-page {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;

    h1 {
        display: block;
        color: $color__background-blue;
        font-family: $font__header;
        font-weight: bold;
        font-size: 16px;
        line-height: 55pt;
        text-align: center;
        margin-bottom: -10px;
    }

    h2 {
        color: $color__text-white;
        font-size: 16px;
        line-height: 20pt;
        padding: 25px;
    }

    .med-abortion-blue {
        background: $color__background-blue;
    }

    .med-abortion-green {
        background: $color__background-teal;
    }

    ol {
        margin-left: 0;
        margin-right: 15px;
        line-height: 20pt;
    }

    li {
        text-align: left;
        margin-bottom: 15px;
    }
}

.advantages-class,
.fees-class,
.appointment-class,
.fertility-class,
.faq-class {
    background-color: $color__background-blue;
    color: $color__text-white;
    line-height: 20pt;
}

.fees-class,
.appointment-class,
.myth-fact-class,
.fertility-class,
.faq-class {
    p {
        text-align: justify;
        margin: 20px;
    }
}

.disadvantages-class,
.process-class {
    background: $color__background-teal;
    color: $color__text-white;
}

.myth-fact-class {
    outline: 1pt solid $color__background-teal;
    // border-bottom: 35pt solid $color__background-teal;

    h3 {
        color: $color__background-blue;
    }

    .med-fact {
        text-align: left;
        margin-left: 20px;
        margin-bottom: -20px;
    }

    .med-myth {
        margin: 25px;
    }

    .tab-content {
        @media (max-width: 660px) {
        display: none;
        }
        &:nth-of-type(1) {
        display: block;
            }
        
    }

    .tab-nav {
        background: $color__background-teal;
        display: flex;
        .tab-next,
        .tab-prev {
            flex-direction: row;
            border: none;
            border-color: none;
            box-shadow: none;
            background: none;
            text-shadow: none;
            color: $color__background-white;
            font-size: 20px;
        }
        .tab-prev {
        //     align-items: flex-start;
        margin-bottom: 20px;
        }
        // .tab-next {
        //     align-items: flex-end;
        // }
    }
    
}

.med-more-info-link {
    color: $color__background-teal;
    font-weight: bold;
}

.refund-policy-link {
    display: none;
}

.med-contact-button {
    background-color: $color__background-teal;
    box-shadow: none;
    text-shadow: none;
    border-radius: 8px;
    border-color: $color__background-teal;
    line-height: 12pt;
    margin-top: 15px;
    color: $color__background-white;
    a {
        color: $color__background-white;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
    }
}

.medical-abortion-page,
.surgical-abortion-page {
    @include tablet {
        font-size: 16px;
        h1 {
            font-size: 30px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            margin-top: 50px;
        }
    }
}

.medical-abortion-page,
.surgical-abortion-page {
    @include desktop {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;

        h1 {
            font-size: 36px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            text-align: left;
        }

        h2 {
            font-size: 30px;
            font-family: $font__header;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .med-abortion-blue,
        .med-abortion-green {
            background: $color__background-blue;
            padding: 45px;
        }

        .advantages-class,
        .disadvantages-class,
        .fees-class,
        .process-class,
        .appointment-class,
        .myth-fact-class,
        .fertility-class,
        .faq-class {
            background-color: white;
            color: $color__text-grey;
        }

        .advantages-class ol,
        .disadvantages-class ol {
            margin-left: 160px;
            margin-right: 160px;
            line-height: 20pt;
        }

        .med-process-heading {
            text-align: left;
            color: $color__background-blue;
            margin-left: 60px;
            margin-right: 60px;
        }

        .fees-class,
        .appointment-class,
        .myth-fact-class,
        .fertility-class {
            p {
                text-align: justify;
                margin-left: 60px;
                margin-right: 60px;
            }
        }

        .med-myth,
        .med-fact {
            text-align: left;
            font-family: $font__header;
            margin-left: 120px;
            margin-right: 120px;
        }

        .myth-fact-class {
            p {
                margin-left: 120px;
                margin-right: 120px;
            }

            outline: none;
            border-bottom: none;
        }

        .med-more-info {
            background-color: $color__background-blue;
            margin-top: 50px;
            margin-bottom: 50px;
            color: $color__text-white;
            padding: 30px;

            button {
                padding-top: 22px;
                padding-bottom: 22px;
                padding-right: 80px;
                padding-left: 80px;
                border-radius: 12px;
                font-family: $font__secondary;
                font-size: 18px;
                text-shadow: none;
                box-shadow: none;
                outline: $color__background-teal;
            }
        }

        .process-table {
            ol {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 500px;

                li {
                    width: 550px;
                    height: 200px;
                }
            }

            .med-process-heading {
                margin-left: 10px;
            }
        }

        .faq-class {
            h3 {
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: $font__header;
                margin-left: 20px;
            }
            .faq-table {
                column-count: 2;
                column-gap: 0;
            }
        }
        .fees-class a {
            color: $color__background-blue;
        }
    }
}


// Your Decision
.regular-banner-page {
    font-size: 14px;
    line-height: 20pt;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .motherisk {
        color: $color__text-grey;
    }
    button {
        background-color: $color__background-teal;
        box-shadow: none;
        text-shadow: none;
        border-radius: 8px;
        border-color: $color__background-teal;
        line-height: 12pt;
        margin-top: 15px;
        font-size: 14px;
        font-family: $font__secondary;
    
        a {
            color: $color__background-white;
            font-weight: bold;
            text-decoration: none;   
        }
    }
    .regular-banner {
       width: 100%;
       height: 200px;
       background-size: cover;
    }
    .regular-title {
        color: $color__background-white;
        font-family: $font__header;
        text-align: center;
        font-size: 18px;
        padding-top: 90px;
    }

    @include desktop {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        p {
            text-align: left;
        }
        .regular-banner {
            width: 100%;
            height: 642px;
            background-size: cover;
        }
        .regular-title {
            color: $color__background-white;
            font-size: 60px;
            text-align: left;
            margin-left: 60px;
            padding-top: 100px;
        }
        .your-decision-container {
            display: flex;
            flex-direction: row;
            .your-decision-text {
                width: 75%;
            }
            button {
                margin-left: 50px;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 80px;
                padding-left: 80px;
                border-radius: 12px;
                font-family: $font__secondary;
                font-size: 18px;
                text-shadow: none;
                box-shadow: none;
                outline: $color__background-teal;
                line-height: 1.5;
            }
        }
    }
    @include tablet {
        font-size: 16px;
        h1 {
            font-size: 30px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            margin-top: 50px;
        }
    }
}

// Miscarriage Management
.miscarriage-page {
    font-size: 14px;
    line-height: 20pt;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    h1 {
        text-align: center;
        display: block;
        font-family: $font__header;
        color: $color__background-blue;
    }
    .miscarriage-heading {
        color: $color__background-blue;
        font-size: 16px;
    }
    ol {
        margin-left: -20px;
    }
    .miscarriage-info {
        background-color: $color__background-blue;
        color: $color__background-white;
        padding: 25px;
        p {
            text-align: center;
        }
    }
    @include desktop {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        h1 {
        font-size: 36px;
        color: $color__background-blue;
        line-height: 55px;
        font-weight: 900;
        text-align: left;
        }
        p {
        margin-left: 70px;
        margin-right: 70px;
        }
        ol {
            margin-left: 200px;
            margin-right: 200px;
        }
        .miscarriage-heading {
            font-size: 20px;
        }
        .miscarriage-info {
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
    @include tablet {
        font-size: 16px;
        h1 {
            font-size: 30px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            margin-top: 50px;
        }
        .miscarriage-heading {
            font-size: 18px;
        }
    }
}
