.abortion-procedure-container {
  width: 95%;
  margin: 0 auto;
  p {
    font-size: 1rem;
    font-family: $font__main;
  }
}
.wtx {
  color: $color__background-blue;
  font-family: $font__header;
  font-size: 2rem;
}
.wtxp {
  font-size: 1rem;
  width: 100%;
}
.arrow-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.arrow1 {
  cursor: pointer;
  width: 30%;
  border-radius: 20px;
  font-family: $font__header;
  background: lightgrey;
  display: inline-block;
  height: 8rem;
  position: relative;
  a {
    font-family: $font__header;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    height: 100%;
  }
  @include tablet {
    padding-left: 2%;
    border-radius: 0;
    width: 25%;
    a {
      padding-left: 7%;
      width: 100%;
      margin: 0;
      font-size: 1.3rem;
    }
    &::after {
      content: '';
      position: absolute;
      right: -4rem;
      top: 0;
      width: 0;
      height: 0;
      border-top: 4rem solid transparent;
      border-left: 4rem solid lightgray;
      border-bottom: 4rem solid transparent;
    }
  }
  @include desktop {
    padding-left: 0;
    a {
      font-size: 2.5rem;
    }
  }
}
.arrow2 {
  font-family: $font__header;
  cursor: pointer;
  width: 30%;
  border-radius: 20px;
  font-family: $font__header;
  background: lightgrey;
  display: inline-block;
  height: 8rem;
  position: relative;
  a {
    font-family: $font__header;
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
  }
  @include tablet {
    width: 27%;
    border-radius: 0;
    padding-left: 3.5rem;
    a {
      padding-left: 10%;
      width: 100%;
      margin: 0;
      font-size: 1.3rem;
    }
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: 0;
      border-top: 4rem solid transparent;
      border-left: 4rem solid $color__background-white;
      border-bottom: 4rem solid transparent;
    }
    &::after {
      content: '';
      position: absolute;
      right: -4rem;
      top: 0;
      width: 0;
      height: 0;
      border-top: 4rem solid transparent;
      border-left: 4rem solid lightgray;
      border-bottom: 4rem solid transparent;
    }
  }
  @include desktop {
    width: 29%;
    a {
      padding-left: 6%;
      font-size: 2.5rem;
    }
  }
}
.arrow3 {
  font-family: $font__header;
  cursor: pointer;
  width: 30%;
  border-radius: 20px;
  font-family: $font__header;
  background: lightgrey;
  display: inline-block;
  height: 8rem;
  position: relative;
  a {
    font-family: $font__header;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 100%;
  }
  @include tablet {
    width: 25%;
    border-radius: 0;
    padding-left: 4rem;
    a {
      padding-left: 12%;
      width: 100%;
      margin: 0;
      font-size: 1.3rem;
    }
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: 0;
      border-top: 4rem solid transparent;
      border-left: 4rem solid $color__background-white;
      border-bottom: 4rem solid transparent;
    }
  }
  @include desktop {
    width: 29%;
    a {
      font-size: 2.5rem;
    }
  }
}
.abortion-procedure-block {
  height: 100%;
  width: 100%;
}
.tab-1 {
  display: none;
  h2 {
    font-family: $font__header;
    font-size: 1.8rem;
    color: $color__background-blue;
    border-bottom: 1px solid $color__background-teal;
  }
  ol {
    list-style: none;
    counter-reset: li;
    color: $color__background-blue;
    font-size: 1rem;
    margin: 0;
    // padding-left: 2%;
  }
  li {
    text-indent: -1.5rem;
    font-family: $font__main;
    color: black;
    padding: 5px 0px 5px 5px;
    line-height: 2;
    &::before {
      content: counter(li);
      color: $color__background-blue;
      display: inline-block;
      width: 1em;
      margin-right: .5em;
      counter-increment: li;
    }
  }
}
.tab-1-show {
  display: block;
}
.tab-2 {
  display: none;
  h2 {
    font-size: 1.8rem;
    color: $color__background-blue;
    border-bottom: 1px solid $color__background-teal;
  }
  li {
    border-bottom: 1px solid $color__background-teal;
    color: black;
    padding-left: 5px;
  }
  ol {
    color: $color__background-blue;
    font-size: 1rem;
    margin: 0;
    padding-left: 2%;
  }
}
.tab-2-show {
  display: block;
}
.tab-3 {
  display: none;
  h2 {
    font-size: 1.8rem;
    color: $color__background-blue;
    border-bottom: 1px solid $color__background-teal;
  }
  li {
    color: black;
    padding-left: 5px;
  }
  ol {
    color: $color__background-blue;
    font-size: 1rem;
    margin: 0;
    padding-left: 2%;
  }
  h3 {
    padding: 1rem 0;
    text-align: center;
    color: $color__text-white;
    background: $color__background-blue;
  }
}
.tab-3-show {
  display: block;
}
.highlight-arrow {
  background: $color__background-teal;
  &::after {
    border-left: 4rem solid $color__background-teal;
  }
}
.ap-contact-us {
  background: $color__background-blue;
  color: $color__text-white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 12rem;
  margin: 2% 0;
  p {
    font-family: $font__main;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }
  a {
    font-family: $font__secondary;
    margin: 0 auto;
    font-size: 1rem;
    background: $color__background-teal;
    padding: 1.375rem 5rem;
    border-radius: 12px;
  }
}
