// Birth Control
.birth-control {
  width: 100%;
}

/* Birth Control */

section.birth-control.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  margin: auto;
}

div.hide-description {
  display: none;
}

//Each birth control method that is generated as an "a" tag. 
.birth-control-methods-box {
  color: #FFF;
  background:$color__background-blue;
  width: 43%;
  margin: .5rem;
  text-align: center;
  padding-bottom: 1rem;
  display: block;

  h2 {
    font-weight:300;
    font-size: 1.8rem;
    padding: .5rem;
  }

  a {
      color: white;
      text-decoration: none;
  }

  &:nth-child(4n+4),
  &:nth-child(4n+3)  {
    background: $color__background-teal;
  }
}    

@media (min-width: 600px) {

.birth-control-methods-box {
width: 22%;

&:nth-child(n+0)  {
  background: $color__background-teal;
}

&:nth-child(n+5)  {
  background: $color__background-blue;
}

&:nth-child(n+9)  {
  background: $color__background-teal;
}

div.hide-description {
  display: block;
}
}
}
// Emergency Contraception

.div-bcm-title{
  display: none;
}
.bcm-content-area{
  padding-top: 1.5rem;
  @include tablet{
    padding-top: 0;
  }
}
.bcm-banner-page{
  padding-top: 0;
  @include tablet {
    padding-top: 1rem;
  }
  @include desktop {
    padding-top: 0;
  }
}
.single-bcm-title{
  background: $color__background-blue;
  color: $color__background-white;
  height: 10rem;
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.single-bcm-container{
p{
  font-size: 1.5rem;

}
}
.bcm-image{
  position: absolute;
  height: 100px;
    width: 100px;
    top: 5.5rem;
    right: 0;
  @include tablet {
    height: 250px;
    width: 250px;
    right: 5rem;
  }
  @include desktop {
    right: 20rem;
  }
}