// Birth Control
.birth-control {
  width: 100%;
}

/* Birth Control */

// font-family: "Open Sans",open-sans,sans-serif;

// h1.entry-title {
//   text-align: center;
//   color: #5f697a
// }

section.birth-control.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.birth-control-methods-blue {
  color: #FFF;
  background:$color__background-blue;
  width: 43%;
  margin: .5rem;
  text-align: center;
  padding-bottom: 1rem;

  a {
      color: white;
      text-decoration: none;
  }

  &:nth-child(4n+4),
  &:nth-child(4n+3)  {
    background: $color__background-teal;
  }
}    

@media (min-width: 600px) {

.birth-control-methods-blue {
width: 22%;

&:nth-child(n+0)  {
  background: $color__background-teal;
}

&:nth-child(n+5)  {
  background: $color__background-blue;
}

&:nth-child(n+9)  {
  background: $color__background-teal;
}
}
}

// Emergency Contraception
