.chinese-banner {
  position: relative;
  background-image: url('../../images/chinese-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  width: 100%;
  margin-bottom: 20px;
  h2 {
    font-family: $font__header;
    position: absolute;
    bottom: 0;
    color: $color__text-white;
    font-size: 3rem;
    left: 0.5rem;
  }
  @include tablet {
    height: 20rem;
    h2 {
      bottom: 0.5rem;
      left: 2rem;
    }
  }
  @include desktop {
    height: 30rem;
  }
}
.chinese-page {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
  @include tablet {
    padding-top: 0;
  }
}
.chinese-div {
  font-size: 1rem;
  color: $color__background-white;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  &:nth-child(odd) {
    background-color: $color__background-blue;
  }
  &:nth-child(even) {
    background-color: $color__background-teal;
  }
  @include tablet {
    width: 49%;
    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      background-color: $color__background-blue;
    }
    &:nth-child(4n + 4),
    &:nth-child(4n + 3) {
      background: $color__background-teal;
    }
  }
  h2 {
    font-family: $font__header;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 1.5rem 0px;
  }
}
.chinese-div-single {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  h2 {
    font-size: 1.8rem;
    font-family: $font__header;
    color: $color__background-blue;
    border-bottom: 1px solid $color__background-teal;
  }
  ul {
    margin: 0;
  }
    p{
      font-family: $font__main;
    font-size: 1rem;
  }

}
.chinese-single-title {
  padding-left: 1rem;
  color: $color__text-white;
  background-image: url('../../images/chinese-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  font-size: 2.25rem;
}
