.compare-abortion-page {
    font-size: 14px;
    line-height: 20pt;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1 {
        display: block;
        color: $color__background-blue;
        font-family: $font__header;
        font-weight: bold;
        font-size: 16px;
        line-height: 55pt;
        text-align: center;
        margin-bottom: -10px;
    }
    .compare-title-desktop {
        display: none;
    }
    .major-compare-table {
        outline: 1pt solid $color__background-blue;
    }
    .compare-table-2 {
        outline: 1pt solid $color__background-teal;
    }
    .compare-question {
        color: $color__background-blue;
        font-size: 16px;
        margin-top: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        outline: 1pt solid $color__background-blue;
    }
    .compare-table-1,
    .compare-table-2 {
        display: flex;
        .compare-surgical-blue,
        .compare-medical-green {
            width: 25%;
        }
        p {
            width: 75%;
        }
        .compare-surgical-blue {
            margin-top: -15px;
        }
    }
    .compare-surgical-blue {
        background-color: $color__background-blue;
        color: $color__text-white;
        padding: 5px;
    }
    .compare-medical-green {
        background-color: $color__background-teal;
        color: $color__text-white;
        padding: 5px;
    }
    .mobile-title-1,
    .mobile-title-2 {
        padding-top: 15px;
    }
    .tab-content {
        @media (max-width: 660px) {
        display: none;
        }
        &:nth-of-type(1) {
        display: block;
        }   
    }
    .tab-nav {
        background: $color__background-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .tab-next,
        .tab-prev {
            border: none;
            border-color: none;
            box-shadow: none;
            background: none;
            text-shadow: none;
            color: $color__background-white;
            font-size: 20px;
        }
        @include desktop {
            display: none;
        }
    }
    .compare-abortion-info {
        margin-top: 50px;
        .abortion-options-link {
            color: $color__background-teal;
            text-decoration: underline;
        }
        button {
            background-color: $color__background-teal;
            box-shadow: none;
            text-shadow: none;
            border-radius: 8px;
            border-color: $color__background-teal;
            line-height: 12pt;
            margin-top: 15px;
            padding-top: -15px;
            font-size: 14px;
            a {
                color: $color__background-white;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

.compare-abortion-page {
    @include desktop {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        .compare-title-desktop {
            display: flex;
            justify-content: space-between;
            background: $color__background-blue;
            color: $color__background-white;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 22px;
            font-family: $font__header;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .compare-surgical-blue,
        .compare-medical-green {
            display: none;
        }
        .major-compare-table,
        .compare-question,
        .compare-table-2 {
            outline: none;
        }
        .compare-question {
            font-family: $font__header;
            font-size: 28px;
            font-weight: 900;
        }
        .compare-table-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $color__background-teal;
            padding-bottom: 40px;
            margin-left: 50px;
            .compare-table-1 {
                width: 50%;
            }
            .compare-table-2 {
                width: 50%;
            }
        }
            .compare-abortion-info {
            background-color: $color__background-blue;
            margin-top: 50px;
            margin-bottom: 50px;
            color: $color__text-white;
            padding: 30px;

            button {
                padding-top: 22px;
                padding-bottom: 22px;
                padding-right: 80px;
                padding-left: 80px;
                border-radius: 12px;
                font-family: $font__secondary;
                font-size: 18px;
                text-shadow: none;
                box-shadow: none;
                outline: $color__background-teal;
            }
        }
    }
}

.compare-abortion-page {
    @include tablet {
        font-size: 16px;
        h1 {
            font-size: 30px;
            color: $color__background-blue;
            font-family: $font__header;
            line-height: 55px;
            font-weight: 900;
            margin-top: 50px;
        }
    }
}