// Everything that has to do with the Contact Us page should be located here.

.contactus-top-divider{
    position: relative;
    margin: 0;
}

.contactus-main-header{
    color: $color__background-blue;
    font-family: $font__header;
    font-size: 8px;
    text-transform: capitalize;
}
.contactus-pleasecall{
    background-color: $color__background-lighter-blue;
    color: white;
    text-align: center;
    padding-top:35px;
    padding-bottom:35px;
    p{
        margin: 0 auto;
        width: 90%;
    }
}

.contactus-requestappointment{
    background-color: $color__background-teal;
}
