// Everything that has to do with the Contact Us page should be located here.
.contactus-top-divider{
    position: relative;
    margin: 0px;
}

.contactus-main-header{
    color: $color__background-blue;
    font-family: $font__header;
    font-size: 8px;
    text-transform: capitalize;
}
.contactus-pleasecall{
    background-color: $color__background-lighter-blue;
    color: white;
    p{
        width: 75%;
        margin: 0 auto;
    }
}
