// Everything that has to do with the Contact Us page should be located here.

.contactus-top-divider{
    position: relative;
    margin: 0;
    margin-top:-20px;
}

.contactus-main-header{
    color: $color__background-blue;
    font-family: $font__header;
    font-size: 8px;
    text-transform: capitalize;
}
.contactus-pleasecall{
    background-color: $color__background-lighter-blue;
    color: white;
    text-align: center;
    padding-bottom:20px;
    p{
        padding-top:20px;
        margin: 0 auto;
        width: 90%;
        font-size: 14px;
    }
}

.contactus-requestappointment-button{
    background-color: $color__background-teal;
    width:160px;
    border-radius: 10px;
    height:50px;
    margin-top:20px;
    font-family: $font__secondary;
    a{
        position: relative;
        top:10px;
    }
}
.contactus-info{
    color:$color__text-grey;
}

.contactus-form{
    text-align: center;
    input[type="text"]{
        background-color: #eeeeee;
        outline: none;
        width: 320px;
        border-radius: 0;
        padding-left:10px;
    }
    input[type="submit"]{
        box-shadow: none;
        text-shadow: none;
        border-radius: 10px;
        color: white;
        background-color: $color__background-teal;
        width:150px;
        height:40px;
        border:0;
        font-family: $font__secondary;
    }
    input[name="your-message"]{
        padding-bottom: 200px;
    }
}

.contactus-map{
    figure{
        margin:0;
        text-align: center;
        iframe{
            height:400px;
            width:320px;
        }
    }
}
.contactus-parking{
    text-align: center;
    width:80%;
    color: $color__text-grey;
}
.contactus-transit{
    text-align: center;
    color: $color__text-grey;
}
