// Everything that has to do with the Contact Us page should be located here.

.contactus-top-divider{
    position: relative;
    margin: 0;
}

.contactus-main-header{
    color: $color__background-blue;
    font-family: $font__header;
    font-size: 8px;
    text-transform: capitalize;
    @include desktop{
        font-size: 20px;
        display: flex;
        justify-content: flex-start
    }
}
.contactus-pleasecall{
    background-color: $color__background-lighter-blue;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-family: $font__header;
    font-weight: 100;
    p{
        padding-top: 20px;
        margin: 0 auto;
        width: 90%;
        font-size: 14px;
        @include desktop{
            font-size: 1.25rem;
            padding-top: 50px;
        }
    }
}

.contactus-requestappointment-button{
    background-color: $color__background-teal;
    border-radius: 10px;
    height: 80px;
    font-family: $font__secondary;
    font-size: 1rem;
    padding-top: 25px;
    margin-top:25px;
    width: 200px;
    
    @include desktop{
        width: 400px;
        font-size: 1.25rem;
    }
    a{
        position: relative;
        top: 20px;
        padding-top: 10px;
    }
}
.contactus-info{
    color:$color__text-grey;
    text-align: center;
    margin: 0 auto;
    @include desktop{
        margin-left:0;
        font-size: 19px;
    }
}

.contactus-form{
    text-align: center;
    input[type="text"]{
        background-color: #eeeeee;
        outline: none;
        width: 320px;
        border-radius: 0;
        padding-left: 10px;
    }
    input[type="submit"]{
        box-shadow: none;
        text-shadow: none;
        border-radius: 10px;
        color: white;
        background-color: $color__background-teal;
        width: 150px;
        height: 40px;
        border: 0;
        font-family: $font__secondary;
    }
    input[name="your-message"]{
        padding-bottom: 200px;
    }
}


.contactus-map{
    figure{
        margin: 0;
        text-align: center;
        @include desktop{
            text-align: left;
        }
        iframe{
            height: 400px;
            width: 320px;
            @include desktop{
                width: 1000px;
                height: 700px;
            }
        }
    }
}

.contactus-parking{
    text-align: center;
    color: $color__text-grey;
    @include desktop{
        width:720px;
        font-size: 19px;
        line-height: 30pt;
        width: 100%;
        text-align: center;
    }
}
.contactus-transit{
    text-align: center;
    color: $color__text-grey;
    a{
        color: $color__background-teal;
    }
    @include desktop{
        text-align: left;
        font-size: 19px;
        line-height: 30pt;
        margin: 0;
        text-align: center;
    }
}
.contactus-desktop-left-mobile{
    text-align: center;
    @include desktop{
        display: none;
    }
}
.contactus-desktop-left{
    @include desktop{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        p{
            margin-top :0;
        }
        input{
            width: 400px;
            background-color: #eeeeee;
            outline: 0;
        }
        textarea{
            background-color: #eeeeee;
            outline: 0;
            width:400px;
            height:180px;
        }
      .wpcf7-submit{
          text-shadow: none;
          box-shadow: none;
          width:300px;
          font-size:20px;
          background-color: $color__background-teal;
          color: white;
          text-transform: uppercase;
          height: 60px;
          border-radius:12px;
      }
    }
}
.contactus-desktop-all{
    @include desktop {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    }
}
.contactus-desktop-right{
    @include desktop{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left:20px;
    }
}

.contactus-contact-form-mobile{
    @include desktop{
        display: none;
    }
}

.contactus-contact-form-desktop{
    display: none;
    @include desktop{
        display: block;
    }
}