.emergency-contraception{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 1rem;
  a{
        color: $color__background-blue;
}
  h1{
  color: $color__background-blue;
  font-family: $font__header;
  font-size: 2.25rem;
  }
  p{
      text-align: center;
      color: $color__text-grey-lighter;
      @include desktop{
          text-align: left;
      }
  }
  h3{
    color: $color__background-blue;
      text-align: center;
      font-size: 1.3rem;
      @include desktop{
      text-align: left;
      }
  }
    h1{
        text-align: center;
        @include desktop{
        text-align: left;
        }
    }
    h2{
        font-size: 1.8rem;
        color: $color__background-blue;
        text-align: center;
        border-bottom: 1px solid $color__background-teal;
        @include desktop{
            text-align: left;
        }
    }
    h3{
        text-align: center;
        @include desktop{
        text-align: left;
    }
}
};