.home-logo {
    height: 100px;
  width: 100px;
   
}

.main-navigation {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-navigation-menu-container{
    display: none;
@include desktop{
    display: block;
}
}

.menu-toggle{
    display: none;
}