// admin bar fix
#wpadminbar {
  position: fixed;
}
#secondary-menu {
  display: block;
}
// Page
.site {
  position: relative;
  height: 100%;
  width: 100%;
}
.menu-item-has-children > a {
  &::after {
    transform: rotate(0deg);
    transition: 1s;
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 25px;
    color: $color__background-blue;
&:hover{
  color: $color__background-teal;
}  
}
&.angle-icon {
  &::after {
    transform: rotate(180deg);
    transition: 1s;
    color: $color__background-teal;
  }
}
&.angle-icon2 {
  &::after {
    font-family: 'FontAwesome';
    content: '\f106';
    transition: 1s;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 25px;
    color: $color__background-blue;
  }
}
}
// Regular Header
.site-header {
  height: 100px;
  background-color: $color__background-white;
  // Header
  .main-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  // Hamburger
  .hamburger {
    height: 100px;
    width: 10%;
    display: flex;
    align-items: center;
    @include desktop {
      display: none;
    }
    // Icon
    .fa-bars {
      color: $color__text-screen;
      font-size: 25px;
      margin: 0 auto;
      @include tablet {
        font-size: 40px;
      }
    }
  }
  // X exit header
  .exit-nav {
    display: none;
  }
  // EWH Logo
  .span-home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 60%;
    @include desktop {
      width: 15%;
    }
    // IMG
    .home-logo {
      margin: 0 auto;
      height: 200px;
      width: 100%;
      padding-bottom: 1rem;
    }
  }
  // Chinese Help Button
  .span-chinese-nav {
    display: flex;
    align-items: center;
    @include desktop {
      display: none;
    }
    .chinese-nav {
      font-size: 17px;
      color: $color__text-screen;
      margin: 0;
      @include tablet {
        font-size: 25px;
      }
    }
  }
  // Navigation Menu
  .menu-navigation-menu-container {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
    @include desktop {
      display: block;
      width: 60%;
      // UL
      .menu {
        display: flex;
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .blue {
          background-color: $color__background-blue;
          a {
            color: $color__text-white !important;
          }
        }
        .menu-item-has-children > a {
          &::after {
            top: 5px; 
        }
        &.angle-icon2 {
          &::after {
            top: 5px;
          }
        }
        }
        // LI
        .menu-item {
          font-size: 1rem;
          width: 100%;
          display: flex;
          align-items: center;
          &.nav-donate{
            display: none;
          }
          &.nav-china{
            display: block;
          }
          a {
            width: 100%;
            padding: 10px 0px;
            font-size: 1.25rem;
            font-family: $font__secondary;
            color: $color__background-lighter-blue;
            outline: none;
            &:focus {
              outline: none;
            }
              &:hover {
                color: $color__background-teal;
                &::after {
                color: $color__background-teal;
                transition: 1s;
              }
              }
            }
          &.blue {
            a{
              &:hover {
                &::after {
                color: $color__background-blue;
                transition: 1s;
              }
              }
            }
          }
          .sub-menu {
            background-color: $color__background-white;
            border-top: 5px solid $color__background-teal;
            position: absolute;
            top: 50px;
            left: 0%;
            display: none;
            width: 0;
            a{
              font-size: 1rem;
            }
            li {
              border-bottom: 1px solid $color__text-grey;
            }
            &.active {
              display: flex;
              flex-direction: column;
              background-color: $color__background-white;
            }
            .top-side-drop-down {
              overflow: hidden;
              top: -5px;
              left: 250px;
              background-color: $color__background-blue;
              box-shadow: none;
              a {
                color: $color__text-white;
              }
            }
            .side-drop-down {
              overflow: hidden;
              border-top: 1px solid $color__text-grey;
              top: -1px;
              left: 250px;
              background-color: $color__background-blue;
              box-shadow: none;
              a {
                color: $color__text-white;
                width: 100%;
              }
            }
            .menu-item-has-children > a {
              &::after {
                top: 2px; 
            }
            &.angle-icon2 {
              &::after {
                top: 2px;
              }
            }
            }
          }
        }
      }
    }
  }
  // Donate Button
  .donate-button {
    display: none;
    background-color: $color__background-teal;
    border-radius: 7px;
    border: 0;
    width: 100%;
    height: 2rem;
    padding-top: 4px;
    // box-shadow: none;
    color: white;
    &:hover {
      box-shadow: none;
      text-shadow: none;
      background-color: $color__background-blue;
    }
    @include desktop {
      display: block;
    }
  }
  // Donate Button Span

  .span-donate-button {
    display: none;
    text-align: center;
    width: 15%;
    @include desktop {
      height: 100px;
      display: flex;
      width: 10%;
      align-items: center;
      padding-bottom: 1rem;
    }
  }
}

// Active Header
.nav-site-header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: $color__background-white;
  // Header
  .main-navigation {
    flex-wrap: wrap;
  }
  // Hamburger
  .hamburger {
    display: none;
  }
  // X exit active header
  .exit-nav {
    height: 100px;
    width: 10%;
    display: flex;
    align-items: center;
    // Icon
    .fa-times {
      color: $color__text-screen;
      font-size: 25px;
      margin: 0 auto;
      @include tablet {
        font-size: 40px;
      }
    }
  }
  // EWH Logo
  .span-home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    // IMG
    .home-logo {
      margin: 0 auto;
      height: 100px;
      width: 800px;
      padding-bottom: 1rem;
      @include tablet {
        height: 200px;
      }
    }
  }
  // Chinese Help Button
  .span-chinese-nav {
    width: 10%;
    visibility: hidden;
  }
  // Navigation Menu
  .menu-navigation-menu-container {
    display: block;
    background-color: $color__background-white;
    // UL
    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      // LI
      .menu-item {
        width: 100%;
        border-bottom: 1px solid $color__text-grey;
        &.nav-donate{
          display: block;
        }
        &.nav-china{
          display: none;
        }
        a {
          color: $color__background-blue;
          font-size: 20px;
          padding: 10px 0px;
          width: 100%;
          outline: none;
          &:focus {
            outline: none;
          }
        }
        .sub-menu {
          box-shadow: inset 0px 0px 50px 6px rgba(0, 0, 0, 0.1);
          width: 100%;
          border-top: 1px solid $color__text-grey;
          background-color: $color__background-white;
          a {
            color: $color__text-grey;
          }
          li {
            border-bottom: none;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .fa-angle-down {
            position: absolute;
            right: 5px;
            top: 0;
            font-size: 25px;
            color: $color__background-blue;
          }
          &.active {
            // height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
          }
          &.active2 {
            // height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $color__text-grey;
          }
        }
      }
      .blue {
        background-color: $color__background-blue;
        .sub-menu {
          a {
            color: black;
          }
        }
        a {
          color: $color__text-white;
        }
        .teal {
          background-color: $color__background-teal;
          .sub-menu {
            a {
              color: black;
            }
          }
          a {
            color: $color__text-white;
          }
        }
      }
    }
  }
}
