// admin bar fix
#wpadminbar {
  position: fixed;
}
#secondary-menu {
  display: block;
}
// Page

#page {
  position: relative;
  height: 100%;
  width: 100%;
}

// Header
.site-header {
  .main-navigation {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include desktop {
      #primary-menu {
        display: block;
      }
    }
  }

  .hamburger {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    @include desktop {
      display: none;
    }
    .fa-bars {
      color: $color__text-screen;
      font-size: 20px;
    }
  }
  .exit-nav {
    display: none;
  }
  .span-home-logo {
    display: flex;
    align-items: center;
    .home-logo {
      height: 80px;
      width: 180px;
    }
  }
  .span-chinese-nav {
    display: flex;
    align-items: center;
    @include desktop {
      display: none;
    }
    .chinese-nav {
      font-size: 15px;
      color: $color__text-screen;
      margin: 0;
    }
  }

  .menu-navigation-menu-container {
    display: none;
    width: 100%;
    text-align: center;
    background-color: $color__background-white;

    @include desktop {
      display: block;
      width: 30%;
    }
  }

  .donate-button {
    display: none;
    background-color: $color__background-teal;
    width: 100px;
    height: 50px;
    box-shadow: none;
    text-shadow: none;
    color: white;
    &:hover {
      box-shadow: none;
      text-shadow: none;
      background-color: $color__background-blue;
    }
    @include desktop {
      display: block;
    }
  }
}

// Active Header

.nav-site-header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color__background-white;
  .main-navigation {
    flex-wrap: wrap;
  }
  .hamburger {
    display: none;
  }
  .exit-nav {
    height: 50px;
    width: 20%;
    display: flex;
    align-items: center;
    .fa-times {
      color: $color__text-screen;
      font-size: 20px;
      margin: 0 auto;
    }
  }

  .span-home-logo {
    display: flex;
    align-items: center;
    width: 80%;
    .home-logo {
      height: 100px;
      width: 70%;
    }
  }
  .span-chinese-nav {
    display: none;
  }

  .menu-navigation-menu-container {
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $color__background-white;
    .menu {
      display: flex;
      flex-direction: column;
      .menu-item {
        border-bottom: 1px solid $color__text-grey;
      }
    }
  }
}

.sub-menu {
  display: none;
  &.active {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
}

.menu-item {
  height: 30px;
  &.active-menu-item {
    height: 0;
  }
}
