// Main Page

.home-logo {
    height: 80px;
  width: 250px;
}

.main-navigation {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;  
}

.menu-toggle{
    display: none;
}
.fa-bars {
    color: $color__text-screen;
    font-size: 40px;
    height: 50px;
}

.hamburger {
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
}
.chinese-nav {
    font-size: 25px;
    color: $color__text-screen;
}

// Hamburger

.nav-screen {
    margin-top: 30px;
    width: 0vw;
    height: 0vh;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-screen-navigation{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu-navigation-menu-container{
    height: 100px;
    position: absolute;
//     display: none;
// @include desktop{
//     display: block;
// }
}

// Logo
.nav-home-logo {
    height: 100px;
  width: 80%;
}
//

// X
.exit-nav {
    height: 100px;
    width: 20%;
    align-items: center;
}
.fa-times {
    color: $color__text-screen;
    font-size: 40px;
    height: 50px; 
    width: 20%;
    margin-left: 10%;
}
//