// Your Decision
.history-page {
    font-size: 14px;
    line-height: 20pt;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .your-decision-banner {
        z-index: -1;
    }
    h2 {
        display: none;
        font-size: 30px;
        color: $color__text-white;
        font-family: $font__header;
        line-height: 55px;
        font-weight: 900;
        margin-top: 50px;
    }

    @include desktop {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        p {
            text-align: left;
            margin-right: 350px;
        }
        .your-decision-container {
            display: flex;
            flex-direction: row;
            .your-decision-text {
                width: 75%;
            }
        }
        h2 {
            display: block;
            font-size: 55px;
            text-align: left;
            margin-top: -100px;
        }
    }
    @include tablet {
        font-size: 16px;
    }
}