
.appointment-hero{
    display: none;
    position: relative;
    margin-bottom: 60px;
    @include desktop{
        display: block;
    figure{
        margin: 0;
    }
    h2{
        position: absolute;
        left:20px;
        bottom: 50px;
        color: white;
        text-transform: capitalize;
        font-size: 50px;
    }
}
}
.appointment-mobile-top{
    text-align: center;
    width: 80%;
    color: $color__text-grey;
    h2{
        color: $color__background-blue;
        padding-top:20px;
        @include desktop{
            display: none;
        }
    }
    a{
        color: $color__background-teal;
        text-decoration: underline;
    }
    p{
        width:100%;
        margin: 0 auto;
        margin-bottom:20px;
        @include desktop{
        font-size: 20px;
        }
    }
    h3{
        text-align: left;
        @include desktop{
            text-align: center;
        }
    }
}
.appointment-contact-mobile{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    outline: none;
    h3{
        text-align: left;
        margin: 0;
        margin-bottom: -15px;
    }
    input{
    background-color: #eeeeee;
    width: 100%;
    border-radius: 0px;
    outline: 0;
    }
    textarea{
        background-color: #eeeeee;
        width: 100%;
        border-radius: 0px;
        outline: 0;
    }
    .wpcf7-submit{
        text-shadow: none;
        box-shadow: none;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        background-color: $color__background-teal;
        color: $color__background-white;
        font-size: 20px;
        padding-left:10px;
        padding-right: 10px;
        padding-top:15px;
        padding-bottom: 15px;
        border-radius: 10px;
        width: 60%;
        @include desktop{
            width: 30%;
        }
    }
}
.appointment-mobile-bottom{
    text-align: center;
    color: $color__text-grey;
    @include desktop{
    padding-bottom: 50px;
    font-size: 20px;
    }
}