// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media screen and (min-width: 1080px) {
	  @content;
	}
	}

	@mixin tablet {
		@media screen and (min-width: 600px) {
			@content;
		}
		}