/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
//all pages

body {
    margin: 1rem;
}


/* Front page */



/* Birth Control */

// font-family: "Open Sans",open-sans,sans-serif;

h1.entry-title {
    text-align: center;
    color: #5f697a
}

div.birth-control-methods-blue {
    color: #FFF;
    background:#1E8FE1;
}



div.birth-control-methods-teal {
    color: #FFF;
    background: #B0B8C5;
}
