/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
//all pages

body {
    margin: 1rem;
}


/* Front page */
.home .wp-block-image{
    margin:0 !important;
    text-align: center;
}

.home-abortion-container{
    background-color: $color__background-teal;
    padding-left:100px;
    text-align: center;
    padding-top:7px;
    height:145px;
    position: relative;
}
.home-abortion-title {
    top:60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
}

.home-iud-container{
    background-color: $color__background-blue;
    padding-left:88px;
    text-align: center;
    padding-top:21px;
    height:145px;
    position: relative;
    margin-top:10px;
}
.home-iud-title {
    top:65%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
}

.home-birthcontrol-container{
    background-color: $color__background-orange;
    padding-left:60px;
    text-align: center;
    padding-top:38px;
    height:145px;
    position: relative;
    margin-top:10px;
}
.home-birthcontrol-title {
    top:65%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
}
/* Birth Control */

