/*--------------------------------------------------------------
# single-birth_control_method
--------------------------------------------------------------*/
//all pages

body {
    margin: 1rem;
}

div.entry-content {
    width: 100%;
    margin: auto;
}

.birth-control-header {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background:$color__background-blue;
    // height: 440px;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 350px;
}

    .bcm-entry-header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        height: auto;
        position: absolute;
    }

    div.bcm-title {
        order: 1;
        width: 70vw;
        height: 100%;
        margin-top: -0.5em;
        margin: auto;
        // position: absolute;
        left: 0;
        h1 {
            text-align: center;
            left: 0;
        }
    }

    div.bcm-text {
        order: 3;
        width: 70vw;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 2rem;
    }

    div.bcm-img {
        order: 2;
        right: 0;

        // position: relative;
// top: 50%;
// transform: translateY(-50%);

        // width: 40vw;
        // height: auto;
        .img {
            // margin-top: -0.5em;
            // margin: auto;
            position: absolute;
            bottom: 0;
    }
    }

    .bcm-entry-title {
        text-align: center;
        color: white;
    }

    // p.bcm-img {
    //     position: relative;
    // }

    div.bcm-text {
        width: 70%;
        text-align: inherit;
        margin-left: 2rem;
        bottom: 0;
        position: relative;
        display: none;
    }


// To change the color of each product item

h1.bcm-title {
    color:$color__background-blue;
  }

  div.birth-control-container {
      width: 94%;
      margin: auto;
  }

@media (min-width: 700px) {

    .birth-control-header {
        height: 405px;
    }

    .birth-control-header {
        .bcm-entry-title {
            margin-left: 2rem;
        font-size: 3rem;
    }

    div.bcm-text {
        display: block;
        width: 70%;
        position: absolute;
    }

    .bcm-img {
        order: 2;
        position: relative;
        height: auto;
        width: auto;
        left: 70px;
    }
}
}