/*--------------------------------------------------------------
# single-birth_control_method
--------------------------------------------------------------*/
//all pages

body {
    margin: 1rem;
}

// div.entry-content {
//     width: 90%;
//     margin: auto;
// }

// .container {
//     max-width: 100%;
// }

.birth-control-header {
    color: white;
    background:$color__background-blue;
    // height: 440px;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 405px;

    header.entry-header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        height: auto;
        min-height: 300px;
    }

    .entry-title {
        order: 1;
        display: block;
        color: white;
        width: 60%;
        height: 70px;
        margin-left: 1rem;
        margin-top: 5rem;
        font-size: 2.5rem;
    }

    img.attachment-large.size-large.wp-post-image {
        order: 2;
        position: relative;
        height: 60%;
        left: 70px;
        width: 60%;
        min-height: 300px;
    }

    p.bcm-text {
        width: 70%;
        order: 3;
        text-align: inherit;
        margin-left: 2rem;
        bottom: 7rem;
        position: relative;
        display: none;
    }
}

@media (min-width: 770px) {

    .birth-control-header {
    .entry-title {
        margin-left: 2rem;
        font-size: 3rem;
        position: relative;
        width: auto;
        // margin-top: auto;
        margin-top: 11rem;
        display: inline;
    }

    p.bcm-text {
        display: block;
        width: 70%;
    }

    img.attachment-large.size-large.wp-post-image {
        order: 2;
        position: relative;
        height: auto;
        width: auto;
        left: 70px;
    }
}
}