// Testimonial Page
.testimonial-page-header{
    text-align: center;
    color: $color__background-blue;
}
.testimonial-1{
    background-color: $color__background-blue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
.testimonial-2{
    background-color: $color__background-teal;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
.testimonial-3{
    background-color: $color__background-blue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
}
.testimonial-4{
    background-color: $color__background-teal;
    color: white;
    text-align: center;
    padding:20px;
    margin-bottom:10px;
}
