.useful-page {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 3rem;
@include desktop{
  padding-top: 1.5rem;

}
}
.useful-link-div-single {
  width: 100%;
  height: 6rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  color: $color__text-white;
  overflow: hidden;
  p{
    margin: 0;
    }
    ul{
margin: 0;
  }
  a{
    text-decoration: underline;
  }
  &:nth-child(odd) {
    background-color: $color__background-blue;
    .useful-a {
      text-decoration: none;
      font-size: 1.5rem;
      text-align: center;
      position: relative;
      height: 100%;
      width: 80%;
      &::after {
        transform: rotate(0deg);
        transition: 1s;
        font-family: 'FontAwesome';
        content: '\f107';
        position: absolute;
        top: -30px;
        right: -50px;
        font-size: 4rem;
        color: $color__background-teal;
      }
    }
    &.useful-div-open{    
      transition: 1s;
      outline: none;
      height: 100%;
      ul {
        box-shadow: inset 0px 0px 50px 6px rgba(0, 0, 0, 0.1);
        transition: 1s;
        opacity: 1;
        height: 100%;
      }
      a {
        &::after {
          transform: rotate(180deg);
          transition: 1s;
        }
      }
    }
  }
  &:nth-child(even) {
    background-color: $color__background-teal;
    .useful-a {
      text-decoration: none;
      font-size: 1.5rem;
      text-align: center;
      position: relative;
      height: 100%;
      width: 80%;
        &::after {
        transform: rotate(0deg);
        transition: 1s;
        font-family: 'FontAwesome';
        content: '\f107';
        position: absolute;
        top: -30px;
        right: -50px;
        font-size: 4rem;
        color: $color__background-blue;
      }
    }
    &.useful-div-open{    
      transition: 1s;
      outline: none;
      height: 100%;
      ul {
        box-shadow: inset 0px 0px 50px 6px rgba(0, 0, 0, 0.1);
        transition: 1s;
        opacity: 1;
        height: 100%;
      }
      a {
        &::after {
          transform: rotate(180deg);
          transition: 1s;
        }
      }
    }
  }
  ul {
    height: 0%;
  }
  &:hover {
    box-shadow: none;
  }
  @include tablet {
    width: 49%;
    font-size: 1.2rem;
    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      background: $color__background-blue;
      .useful-a {
        font-size: 1.45rem;
        @include desktop{
          font-size: 2rem;
        }
        text-decoration: none;
        text-align: center;
        position: relative;
        height: 100%;
        width: 80%;
          &::after {
          transform: rotate(0deg);
          transition: 1s;
          font-family: 'FontAwesome';
          content: '\f107';
          position: absolute;
          top: -30px;
          right: -50px;
          font-size: 4rem;
          color: $color__background-teal;
        }
      }
      &.useful-div-open{    
        transition: 1s;
        outline: none;
        height: 100%;
        ul {
          box-shadow: inset 0px 0px 50px 6px rgba(0, 0, 0, 0.1);
          transition: 1s;
          opacity: 1;
          height: 100%;
        }
        a {
          &::after {
            transform: rotate(180deg);
            transition: 1s;
          }
        }
      }
    }
    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      background: $color__background-teal;
      .useful-a {
        font-size: 1.45rem;
        @include desktop{
          font-size: 2rem;
        }
        text-decoration: none;
        text-align: center;
        position: relative;
        height: 100%;
        width: 80%;
          &::after {
          transform: rotate(0deg);
          transition: 1s;
          font-family: 'FontAwesome';
          content: '\f107';
          position: absolute;
          top: -30px;
          right: -50px;
          font-size: 4rem;
          color: $color__background-blue;
        }
      }
      &.useful-div-open{    
        transition: 1s;
        outline: none;
        height: 100%;
        ul {
          box-shadow: inset 0px 0px 50px 6px rgba(0, 0, 0, 0.1);
          transition: 1s;
          opacity: 1;
          height: 100%;
        }
        a {
          &::after {
            transform: rotate(180deg);
            transition: 1s;
          }
        }
      }
    }
  }
  @include desktop {
    font-size: 1.5rem;
}
  ul {
    opacity: 0;
    font-size: 20px;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 20px;
    width: 100%;
    text-align: start;
    li {
      padding: 10px 0px;
      margin-left: 10px;
      font-size: 25px;
    }
  }
}
