// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-white: #fff;
$color__background-teal: #00C4C5;
$color__background-teal-shadow: #565656; //Opacity 24%
$color__background-orange: #FE7F42;
$color__background-orange-shadow: #DB713E;
$color__background-blue: #0076B6;
$color__background-blue-shadow: #014061; //Opacity 24%
$color__text-grey: #4A4A4A;
$color__text-white: #fff;

// Typography

$font__main: 'Arsenal', sans-serif;
$font__secondary: 'Arya', sans-serif;
$font__header: 'Catamaran', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

