/*--------------------------------------------------------------
# single-birth_control_method
--------------------------------------------------------------*/
//all pages

body {
    margin: 1rem;
}

div.iud-headline_area {
    height: 291px;
    background:$color__background-blue;
    h4 {
        width: 66%;
    }

    img.alignnone {
        width: 33%;
    }
}